# Ejemplo para autenticacion Windows (trusted_connection)
DB_CONNECTION_STRING=mssql+pyodbc://@localhost/dw_staging_raw?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

# Ejemplo para instancia con nombre (usar %5C)
# DB_CONNECTION_STRING=mssql+pyodbc://@localhost%5CINSTANCIA/dw_staging_raw?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

# Ejemplo para puerto fijo
# DB_CONNECTION_STRING=mssql+pyodbc://@localhost,1433/dw_staging_raw?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

# Ejemplo para autenticacion SQL
# DB_CONNECTION_STRING=mssql+pyodbc://usuario:password@localhost/dw_staging_raw?driver=ODBC+Driver+17+for+SQL+Server
